  {% extends "sidebar-and-body.html" %}
  {% block content_body %}
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> Atreya.</h1>
    <p>Hey. Hire me. </p>
    <img src="{{ url_for('static', filename='face.jpg') }}" alt="My face" class="w3-image" width="244" height="326">
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Who is Atreya?</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>An explorer by nature, applying for tickets to travel the fields of computing, data representation and analysis. In search of the mountains to climb, and trekking the familiar hills in search of greener pastures. Follows the creed that an Atreya of all trades leads a more interesting life. 
    </p>
  <!-- End About Section -->
  </div>
  
  <!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="artwork">
    <h2 class="w3-text-light-grey">Led Zeppelin Project. </h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">

      {% for img,name in images %}
      <div class="w3-half">
        <p> {{ name }} </p>
        <img src="/static/{{ img }}" style="width:100%">
      </div>
      {% endfor %}

    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Let's talk. </h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Bangalore, India</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +91 8073 213 750</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: agkatreya@gmail.com</p>
    </div><br>

  <!-- End Contact Section -->
  </div>
  {% endblock %}
